/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*CSS Resets Above* */


body{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-template-rows: minmax(50px, 10vmin) 100px repeat(2, minmax(100px, auto)) minmax(50px, 10vmin);
}

.nav-container-right{ /* To get some elements align to the right and some to the left, I created two overlapping divs with oppsite aligning propeties. This is pretty hacky, but it works.*/
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.nav-container-left{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    background-color: transparent;
    height: 100px; /*placeholder value*/
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
}
.nav-logo{
    height: 100%;
    margin-left: 30px;
}
.nav-name{
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Cabin', sans-serif;
}
.nav-item{
    padding: 1em 1.5em;
    border: 1px solid white;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-decoration: inherit;
}
 a.nav-item:hover{
    background-color: rgb(207,186,88);
    color: black;
    border: 1px solid black;
}

.content{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
    flex-flow: column wrap;
}
.dark-content{
    grid-area: 4 / 2 / span 1 / span 2;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
p.social > a{
    font-size: 2em;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-decoration: none;
}
p.email > a{
    font-size: 1.5em;
    font-family: 'Raleway', 'Yu Gothic', sans-serif;
    text-decoration: underline;
    color: rgb(207,186,88);

}
.autobio-container{
    background-color: black;
    border-radius: 0 0 10px 10px;
}
.gold-link{
    color: rgb(207,186,88);
    text-decoration: underline;
}
.shadow-wrapper{
    grid-area: 2 / 2 / 5 / 4;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    background-color: transparent;
}
.current{ /* This must go last as it overwrites the above display of the button that links to the current page*/
    border: 1px solid rgb(207,186,88);
    color: rgb(207,186,88);
}
.title{
	font-size: 3em;
	font-family: 'Cabin', sans-serif;
    margin-top: 1em;
}

.education{
	grid-area: 4 / 2 / span 1 / span 1;
	background-color: black;
}
.skills{
	grid-area: 4 / 3 / span 1 / span 1;
	background-color: rgb(207,186,88);
    display: flex;
    align-items: center;
    justify-content: center;
}
.achievements{
	grid-area: 5 / 2 / span 1 / span 1;
	background-color: rgb(207,186,88);
}
.experience{
	grid-area: 5 / 3 / span 1 / span 1;
	background-color: black;
}
.memberships{
	grid-area: 6 / 2 / span 1 / span 2;
	background-color: whitesmoke;
}
.dark-title{
	color: rgb(207,186,88);
	text-align: center;
	font-family: 'Cabin', sans-serif;
	padding: 1em;
	font-size: 2em;
}
.dark-head{
	color: rgb(207,186,88);
	padding: 1em 1em 1em 50px;
    font-family: 'Raleway', 'Yu Gothic', sans-serif;
    font-size: 1.5em;
}
.dark-para{
	color: white;
    font-family: 'Raleway', 'Yu Gothic', sans-serif;
    margin: 1em 1em 1em 50px
}
.light-para{
    color: black;
    font-family: 'Raleway', 'Yu Gothic', sans-serif;
    padding: 1em 1em 1em 50px;
}
.light-title{
    background-color: black;
    color: white;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding: 1em;
    font-size: 2em;
}
.light-head{
    color: black;
    font-family: 'Raleway', 'Yu Gothic', sans-serif;
    font-size: 1.5em;
    padding: 0.5em 0.5em 0.5em 50px;
}
b {
    font-weight: bold;
}
.content-bottom{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: black;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    height: 6em;
    flex-flow: column;
}
.black-button{
    padding: 1em 1.5em;
    border: 1px solid white;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-decoration: inherit;
}
.galleria{
    margin: 3em;
}